// Bootstrap ~代表的是node_modules/,也可以使用@import "node_modules/bootstrap/scss/_alert.scss";导入
@import '~bootstrap/scss/bootstrap';


body {
  font-size: 14px;
  font-weight: normal;
}

nav.navbar.navbar-expand-lg {
  margin-bottom: 20px;
}
